/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:brown;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
  color: darkcyan;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:brown;
 
}


#masthead {
  min-height:199px;
  background-color:orange;
  color:white;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:darkcyan;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:orange;
  border-color:orange;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:orange;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:darkcyan;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:orange;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}
.storyy{
  background:tan;
}
.signin{
  float: center;
  /* border:5px solid greenyellow ; */
  /* background-color: white; */
  height:32em;
  margin-top: 5%;
  margin-bottom: 70%;
  margin-right: 30%;
  margin-left: 30%;
  padding: 30px;
  color:darkcyan;
}
.but1{
  color: black;
}
.but1 :hover{
background-color: blue;
color: cornsilk;
}


/* signup */
#signup{
  text-align: left;
   float: center;
  border:5px solid brown ;
  background-color:tan;
  height:47em;
  margin-top: 5%;
  margin-bottom: 70%;
  margin-right: 30%;
  color:darkcyan;
  margin-left: 30%;
  padding: 30px;
  /* text-sizing="border-box"; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.h2{
  text-align: center;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signupp input{
  /* float: right; */
  height:1.8em;
  /* font-size: 100%; */
}
.but{
  /* width:100%; */
  height: 3em;
  float:right;
  color: black;
}

.but :hover{
  background-color: blue;
  color: cornsilk;
}

